#game-container {
    width: 400px;
    margin: 0 auto;
    position: relative;
}

#game-over, #start-game {
    position: absolute;
    margin-top: 35%;
    width: 400px;
    text-align: center;
    font-size: 30px;
    background-color: #C7EF00;
    padding: 30px 0px;
}

#start-game:hover {
    cursor: pointer;
}

.cell {
    width: 20px;
    height: 20px;
    float: left;
    background-color: #7F7F7F;
}

.snake-color {
    background-color: #C7EF00;
}

.apple {
    background-color: #FF5666;
}

#game-over {
    display: none;
}

h2 {
    font-family: 'Righteous';
    text-transform: uppercase;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'PT Sans';
}

.footer {
    width: 400px;
    margin: 0 auto;
    padding: 20px 0px;
    clear: both;
}

.title {
    width: 400px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.controller {
    display: none;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.keys {
    width: 100px;
    display: inline-block;
    margin-right: 35px;
    position: relative;
}

top {
    position: absolute;
    bottom: 37px;
    left: 40px;
    width: 25px;
    height: 25px;
    background-color: #000;
}

bottom {
    position: absolute;
    bottom: -12px;
    left: 40px;
    width: 25px;
    height: 25px;
    background-color: #000;
}

right {
    position: absolute;
    bottom: 12px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color: #000;
}

left {
    position: absolute;
    bottom: 12px;
    left: 15px;
    width: 25px;
    height: 25px;
    background-color: #000;
}

space {
    width: 250px;
    height: 35px;
    background-color: #000;
    display: inline-block;
    margin-bottom: 8px;
}

@media only screen and (max-device-width : 667px) {
    body {
        zoom: 2;
    }
    .controller {
        display: block;
    }
}
