#game-container {
    width: 400px;
    margin: 0 auto;
    position: relative;
}

#game-over {
	position: absolute;
	margin-top: 35%;
	width: 400px;
	text-align: center;
	font-size: 30px;
	background-color: #C7EF00;
	padding: 30px 0px;
}

.cell {
    width: 20px;
    height: 20px;
    float: left;
    background-color: #7F7F7F;
}

.snake-color {
	background-color: #C7EF00;
}

.apple {
	background-color: #FF5666;
}

#game-over {
	display: none;
}

h2 {
	font-family: 'Righteous';
	text-transform: uppercase;
	font-size: 48px;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

p {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'PT Sans';
}

.footer {
	width: 400px;
	margin: 0 auto;
	padding: 20px 0px;
	clear: both;
}

.title {
	width: 400px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 20px;
}